.contacts-container {
  background: var(--dark-primary-color);
  color: #f2f2f2;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  padding: 30px 0;
}

.contacts-address-container,
.contacts-send-email-container {
  margin: 20px 20px;
}

.contacts-address-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.contacts-address-container p {
  line-height: 200%;
  font-size: 16px;
  margin-top: 20px;
}

.address-icons-container {
  margin-top: 10px;
  width: 250px;
}

.address-icons-container img {
  height: 38px;
  width: 38px;
}
/* send email */
.contacts-send-email-container {
  height: 100%;
  width: 45%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.send-email-inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.send-email-input,
.send-email-textarea {
  padding: 8px 10px;
  border-radius: 10px;
  min-width: 300px;
  font-family: "Open Sans", sans-serif;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #f2f2f2;
  margin: 10px 0;
  color: #f2f2f2;
}

.send-email-textarea {
  resize: none;
}

.send-email-button {
  padding: 8px;
  border: none;
  background: var(--primary-color);
  color: #353535;
  border-radius: 5px;
  width: 100px;
}

@media only screen and (max-width: 817px) {
  .contacts-address-container {
    order: 2;
    width: 90%;
    align-items: center;
  }

  .contacts-address-container p {
    text-align: center;
  }
  .address-icons-container {
    display: flex;
    justify-content: space-between;
  }

  .send-email-inputs {
    width: 100%;
  }
}
