.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("../img/projects-bg2.png"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.projects-title-container {
  margin: 30px 0;
  padding: 10px 40px;
  position: relative;
}

.projects-title {
  font-size: var(--xm-font-size);
  margin: auto;
  color: var(--light-color);
  font-family: "Volkhov", serif;
  font-weight: lighter;
  letter-spacing: 3px;
}

.projects-title::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 35px;
  bottom: 30px;
  left: 0px;
  background: var(--secondary-color);
}

.projects-title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 35px;
  bottom: 30px;
  right: 0px;
  background: var(--secondary-color);
}

/* projects */
.projects-projects-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-content: space-evenly;
}

.project-container {
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(100, 100, 100, 0.37);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  top: -100px;
}

.project-container a {
  display: none;
  margin-right: 10px;
  color: var(--light-color);
  padding: 10px;
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.project-container:hover a {
  display: block;
  opacity: 1;
  transition: all 3s;
}

.projects-desc {
  width: 100%;
  z-index: -1;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--light-color);
  text-align: center;
}

.projects-desc p:before {
  content: "";
  position: absolute;
  background: var(--dark-primary-color);
  height: 300px;
  width: 100%;
  z-index: -1;
  top: -127px;
  left: 0;
}

.project-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}

.img-1 {
  background: url("../img/img-chatapp.png");
  background-position: center;
  background-size: cover;
}

.img-2 {
  background: url("../img/img-sorting.png");
  background-position: center;
  background-size: cover;
}

.img-3 {
  background: url("../img/img-todo.png");
  background-position: center;
  background-size: cover;
}

.img-4 {
  background: url("../img/img-weather.png");
  background-position: center;
  background-size: cover;
}

.project-container:hover .project-img {
  background: var(--secondary-color);
  transition: transform 0.5s ease-out;
  transition: background 0.5s ease-out;
}
