.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/projects-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-title-container {
  margin: 30px 0;
  padding: 10px 40px;
  position: relative;
}

.projects-title {
  font-size: var(--xm-font-size);
  margin: auto;
  color: var(--light-color);
}

.projects-title::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 35px;
  bottom: 30px;
  left: 0px;
  background: var(--secondary-color);
}

.projects-title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 35px;
  bottom: 30px;
  right: 0px;
  background: var(--secondary-color);
}

/* projects */
.projects-projects-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-container {
  height: 300px;
  width: 33%;
  min-width: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(100, 100, 100, 0.37);
}

.project-img {
  height: 100%;
  width: 100%;
  background: url("../img/chat-up.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px 25px 0 0;
}

.project-img a {
  display: none;
  margin-right: 10px;
  color: var(--light-color);
  padding: 10px;
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.project-img:hover a {
  display: block;
  transition: all 0.3s ease-out;
}

.project-img:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s ease-out;
}

.project-name {
  padding: 10px;
  color: white;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 0 25px 25px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(1px);
}
